.search-bar-container {
    margin-top: 160px; /* Adjust margin-top value as needed */
    text-align: center; /* Center the content horizontally */
  }
  
  .search-input {
    width: 300px; /* Adjust the width of the input field */
    padding: 10px; /* Add padding to the input field */
    border: 1px solid #ccc; /* Add border */
    border-radius: 20px; /* Add rounded border */
    outline: none; /* Remove outline */
    margin-right: 10px; /* Add margin between input field and button */
  }
  
  .search-button {
    padding: 10px 20px; /* Add padding to the button */
    background-color: green; /* Set background color to green */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    border-radius: 20px; /* Add rounded border */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .search-button:hover {
    background-color: darkgreen; /* Change background color on hover */
  }
  