.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
   margin-top: 150px;
   margin-bottom: 50px;
}
.cart-image {
    margin-top: 100px;
    width: 302px;
    height: auto;
}

.stripe-image {
    margin-bottom: 80px;
}